/* Login css */
.update-password {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
  
  .update-password-container form {
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  
  .p1 {
    width: 100%;
    height: 108px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 64px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 2px;
  }
  
  .label {
    width: auto;
    height: auto;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 10px;
    line-height: 10px;
    display:block;
    font-weight: normal;
    color: #3B3C3D;
  }
  .update-password-container input {
    width: 100% !important;
    height: 25px;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .lButton {
    width: 100%;
    height: 40px;
    background-color: #00668C;
    color: white;
    border-color: #00668C;
    font-size: 14px;
    font-weight: 500;
  }
  
  .Logo2 {
    width: 200px;
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0;
  }
  
  .Logo2 svg {
    width: 200px; /* Ensures SVG scales with the container */
    height: auto;
  }