/* Forgot Password CSS */
body {
    background-color: #D4EAF7;
}

.forgotPassword {
    position: relative;
    top: 250px;
    right: 200px;
    margin: auto;
    width: 300px;
    padding: 10px;
}
.send {
    width: 100%;
    height: 40px;
    background-color: #00668C;
    color: white;
    border-color: #00668C;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
}
.container1{
    padding: 10px;
}