.landing-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;
}

.content {
  flex-grow: 1;
  /* Allows .content to take up remaining space */
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  font-size: 1.25rem;
}

.content p {
  text-align: center;
  padding: 0;
}