  /* Signup css */
body{
  margin: 0;
  padding: 0;
  background-color: #D4EAF7;
}

.signup {
  height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D4EAF7;
}

.container {
  width: 700px;
  height: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.l1 {
  width: 513px;
  height: 108px;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 64px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 5px;
  color: #3B3C3D;
}

.t2 {
  width: 513px;
  font-family: 'Inter';
  font-weight:400;
  font-size: 18px;
  text-align: left;
  line-height: 1.2;
  margin-top: 5px;
  margin-bottom: 30px;
  color: #3B3C3D;
}

  /* give email and password spacing between the input type */

label {
  width: auto;
  height: auto;
  font-family: 'Inter';
  font-weight: light;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  margin-bottom: 10px;
  line-height: 10px;
  display:block;
  color: #3B3C3D;
}
input {
  width: 700px;
  height: 25px;
  margin-bottom: 15px;
  padding: 5px;
  border: .7px solid #3B3C3D;
  border-radius: 1px;
}
.fp {
  width: 450px;
  display: flex;
  justify-content: right;
  margin: 12px 0px;
}
.fp label {
  text-align: right;
  font-size: 14px;
}
.or {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.or label {
  font-size: 16px;
  text-align: center;
}

.signUpButton {
  width: 100%;
  height: 40px;
  background-color: #00668C;
  color: white;
  border-color: #00668C;
  font-size: 14px;
  font-weight: 500;
}



.Logo2 {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 0;
}

.Logo2 svg {
  width: 300px; /* Ensures SVG scales with the container */
  height: auto;
}

.loginRedirect{
  padding-top: 10px;
}

.alert {
  float:right;
  color:brown;
  font-size: 12px;
  font-weight: 500;
}

.error {
  text-align: left;
  padding-left: 0;
}
  