.swiping-page {
    height: 100vh;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.swipe-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    padding-bottom: 50px;
}

